@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-19gw05y).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select, :where(.css-dev-only-do-not-override-19gw05y).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
    width: 60% !important;
    height: 300px !important;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-select {
    width: 100%;
}